@import "../../variables.less";

.content {
    // margin-top: 110vh;
    z-index: 2;
    width: 100%;
    min-height: 100vh;
    background-color: @cerulean;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}