@import "../../variables.less";

.content {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100%;
    background-color: @non-photo-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.custom-shape-divider-top-1675983049 {
    z-index: 2;
    margin-top: 90vh;
    background-color: @cerulean;
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1675983049 svg {
    position: relative;
    display: block;
    width: calc(122% + 1.3px);
    height: 20vh;
}

.custom-shape-divider-top-1675983049 .shape-fill {
    fill: @non-photo-blue;
}